<%- include layouts/header.ejs %>
        <form action = "/employees/edit/<%=data[0].id%>" method = "post">
            <table cellpadding="11">
            <tr>
                <td>Name:</td><td> <input type ="text" required name = "uname" value="<%=data[0].name%>"></td>
            </tr>
            <tr>
                <td>Email:</td><td><input type = "text" required name= "email" value="<%=data[0].email%>"></td>
            </tr>
            <tr>
                <td> Address:</td><td><input type = "text" required name = "addr" value="<%=data[0].address%>"></td>
            </tr>
            <tr>
                <td> phone:</td><td><input type = "text" required name = "phone" value="<%=data[0].phone%>"></td>
            </tr>
            <tr>
                <td><input class="save" type = "submit" value="save"></td>
                <td><input class="cancel" type="button" onclick="cancel()" value = "cancel"></td>
            </tr> 
            </table>
            </form>

            
<%- include layouts/footer.ejs %> 
