<%- include layouts/header.ejs %>


<div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th width="50px">No</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            
        </tr>
                       
        <% if(data.length){ 
                        
         for(var i = 0;i < data.length;i++) { %>
         
        <tr>
            <td><%=(i+1)%></td>
            <td><%=data[i].name%></td>
            <td><%=[i].address%></td>
            <td><%=data[i].phone%></ dtd>
            <td><%=data[i].email%></tdhj>
           
        </tr>
    <% }
    
     }else{ %>
         <tr>
            <td colspan="3">No user</td>
         </tr>
    <% } %>
                
    </table>
 </div>

<%- include layouts/footer.ejs %>